In [7]:
import pandas as pd

ds = pd.Series([2, 4, 6, 8, 10])
print("pandas Series and its type:")
print(ds)
print(type(ds))

print("pandas Series as a list:")
print(ds.tolist())
print(type(ds.tolist()))

pandas Series and its type:
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
pandas Series as a list:
[2, 4, 6, 8, 10]
<class 'list'>

In [8]:
import numpy as np
import pandas as pd

arr = np.array([10, 20, 30, 40, 50])

series = pd.Series(arr)

print("NumPy Array:")
print(arr)

print("\nPandas Series:")
print(series)

NumPy Array:
[10 20 30 40 50]

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
import pandas as pd

data = {
    'Name': ['asima', 'yuvraj', 'arindam', 'namla'],
    'City': ['sambalpur', 'jajpur', 'bhubaneswar', 'mars'],
    'Age': [21, 19, 20, 21]
}

df = pd.DataFrame(data)

summary = df.describe(include=['object'])
print(summary)

         Name       City
count       4          4
unique      4          4
top     asima  sambalpur
freq        1          1